@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --battleship-gray: #878787ff;
  --eerie-black: #171d1cff;
  --neon-blue: #5863f8ff;
  --nyanza: #e4fde1ff;
  --wine: #6b2737ff;
}
@media print {
	body {
		margin: 0 !important;
	}
}

.main-container {
	font-family: 'Product Sans';
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.ck-content {
	font-family: 'Product Sans';
	line-height: 1.6;
	word-break: break-word;
}

.editor-container_classic-editor .editor-container__editor {
	min-width: 795px;
	max-width: 795px;
}

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
  src: url('/public/fonts/ProductSansRegular.ttf') format('truetype');
}


@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/public/fonts/ProductSansBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Product Sans';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('/public/fonts/ProductSansItalic.ttf') format('truetype');
}


html {
  font-family: 'Product Sans';
}
body {
  font-size: 1rem;
  line-height: 1.5;
  font-family: 'Product Sans';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Product Sans';
}

p {
  font-family: 'Product Sans';
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
