@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
  src: url('/public/fonts/ProductSansRegular.ttf') format('truetype');
}


@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/public/fonts/ProductSansBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Product Sans';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('/public/fonts/ProductSansItalic.ttf') format('truetype');
}


html {
  font-family: 'Product Sans';
}
body {
  font-size: 1rem;
  line-height: 1.5;
  font-family: 'Product Sans';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Product Sans';
}

p {
  font-family: 'Product Sans';
}

@media print {
	body {
		margin: 0 !important;
	}
}

.main-container {
	font-family: 'Lato';
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.ck-content {
	font-family: 'Lato';
	line-height: 1.6;
	word-break: break-word;
}

.editor-container_classic-editor .editor-container__editor {
	min-width: 200px;
	max-width: 100%;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.loader {
  width: 48px;
  height: 48px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  animation: skLinRotate 1s ease-in-out infinite alternate;
}
.loader:after{
  content:"";
  position: absolute;
  inset: 5px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #000000;
}
@keyframes skLinRotate {
  95% ,100% { transform: rotate(840deg) }
}